.icon {
    box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 5px solid black;
      border-radius: 100%;
  }
  
  .icon::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin: 1px 0 0 -6px;
      display: block;
      content: '';
      border: 6px solid transparent;
      border-top: 10px solid black;
      border-bottom: none;
  }
  .loc{
      margin-left: 600px;
  }
  .loc1{
      margin-left: 1000px;
      display: inline;
  }
  .footerlogo {
    color: black;
}
